.body-copy {
    margin-top: -3%;
    text-align: justify;
}
 
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 300%;
}

.port-container {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    border-top: 10px solid black;
}
  
  .grid-container{
  position:relative;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
  
.grid-container:hover .overlay {
    opacity: .75;
}
  
.text {
      font-size: 1.5em;
      color: white;
}
