---
layout: default
---


<div class="about-me">
        <h1>About Mi</h1>
        <p class="body-copy">
            Mi Vu is a graduating graphic design student with a background in interior design in Windsor, Ontario. Mi specializes in forward-thinking designs that are mindful to its audience and environment through her awesome illustrative skills. Her designs have made it to the college’s 2018-2019 dayplanner, the annual fashion show and the annual Zach D’Souza soccer tournament for the Ronald McDonald house. Her superpower is a relentless drive to learn about new trends, but also keeping her work unique to itself. Mi is a dedicated illustrator, but most importantly, a scorpio.
        </p>
    </div>